body {
    width: 940px;
    margin: 0 auto;
    background-color: #3f08bef6; 
}

.menu ul{
    display: flex;
    background-color:rgb(255, 240, 23);
    position: fixed;
    width: 940px;
}

.menu li {
    border: 2px solid rgb(23, 182, 255);
    padding: 12px;
    margin: 0 auto;
    border-radius: 30px 15px 30px 15px;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(104, 23, 255);
}

.menu li:hover {
    font-weight: bold;
}

.dados-pessoais{
    display:flex;
}

.dados-pessoais h1{
    font-size: 40px;
    margin: 70px 30px 30px;
}
.dados-pessoais h3{
    font-size: 25px;
    margin: 15px 15px 15px 30px;
}

.dados-pessoais p {
    margin: 20px 30px 30px;
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.dados-pessoais p img {
    width: 20px;
}

.dados-pessoais a img {
    width: 40px;
    padding: 10px;
    margin-top: 5px;
}

.foto-perfil {
    width: 300px;
    border-radius: 200px;
    border: 10px solid white;
    height: 300px;
    margin: 80px 30px 30px;
}

.sobre-mim div{
    display: flex;
    margin: 50px;
}

.sobre-mim img{
    width: 200px;
}

.sobre-mim h1{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
