body {
    width: 940px;
    margin: 0 auto;
    /*background-color: #3f08bef6;*/
    background: linear-gradient(180deg, #3f08bef6, #7900dbf6, #331a61f6); 
}

.menu ul{
    display: flex;
    background-color:rgb(255, 240, 23);
    position: fixed;
    width: 940px;
}

.menu li {
    border: 2px solid rgb(23, 182, 255);
    padding: 12px;
    margin: 0 auto;
    border-radius: 30px 15px 30px 15px;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(104, 23, 255);
}

.menu li:hover {
    font-weight: bold;
}

.dados-pessoais{
    display:flex;
}

.dados-pessoais h1{
    font-size: 40px;
    margin: 70px 30px 30px;
}
.dados-pessoais h3{
    font-size: 25px;
    margin: 15px 15px 15px 30px;
}

.dados-pessoais p {
    margin: 20px 30px 30px;
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.dados-pessoais p img {
    width: 20px;
}

.tome{
    margin-left: 30px;
}

.tome img{
    width: 40px;
    margin-top: 20px;
}

.tome img:hover{
    width: 45px;
    transition: 0.5s;
}

.foto-perfil {
    width: 300px;
    border-radius: 200px;
    border: 10px solid white;
    height: 300px;
    margin: 80px 30px 30px;
}

.sobre-mim {
    margin: 150px 0 200px 0;
}

.sobre-mim div{
    display: flex;
    margin: 50px;
}

.sobre-mim img{
    width: 300px;
    margin-right: 30px;
}

.sobre-mim h1{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 15px;
    margin:30px;
}

.sobre-mim p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.education{
    margin: 150px 0 200px 0;
}

.education h1{
     font-size: 40px;
     font-weight: bold;
     font-family: 'Playfair Display', serif;
     text-align: center;
     padding: 15px;
     margin: 30px;
}

.education div{
    display: flex;
}

.education p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    padding:15px;
}

.edu1{
    margin: 0 auto;
    background-color: rgb(190, 19, 70);
    width: 350px;
    border: 3px solid black;
    border-radius: 20px;
}

.edu2{
    margin: 0 auto;
    background-color:forestgreen;
    width: 350px;
    border: 3px solid black;
    border-radius: 20px;
}

.habi {
    margin: 150px 0 200px 0;
}

.habi h1{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

.habi p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    padding:15px;
}

.habi div {
    margin: 0 auto;
    background-color: rgb(201, 78, 64);
    width: 450px;
    border: 3px solid black;
    border-radius: 20px;
}

.exp {
    margin: 150px 0 200px 0;
}

.exp div{
    display: flex;
}

.exp h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 15px;
    margin: 30px;
}
.edu {
    display: flex;
    background-color: white;
}
